$main-color: #363636;
$second-color: #bf1e2e;
$nav-active: #232222;
$nav-child-list: #8f8f8f;
$hero-header-4: #666666;
$color-sta-p: #c0c0c0;
$color-sale-p: #7a7a7a;
$color-sale-span: #989898;
$color-sale-heart: #ebebeb;
$color-magazin-button-text: #333333;
$color-magazin-p: #888888;
$color-fokus: #d6d5d5;
$color-footer-link: #6b6b6b;
$padding: 0 19% 0 20%;
$font: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;
$font-top-header: 'Open Sans', sans-serif;